html{
	background-color: #FFFFFF;
}
img{
	height: 5rem;
	width: 15rem;
	margin-top: 1rem;
	padding-bottom:1rem;
}
.btn1{
	background-color: #006633;
	color: white;
	width: 5rem;
	height: 2.5rem;
	border:1px solid green;
	border-radius: 0.5rem;
}
#con1{
	background-color: silver;
	height: 23rem;
}
#con2{
	background-color: silver;
	height: 52rem;
}
#con3{
	background-color: silver;
	height: 33rem;
}